.top {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 80px;
}

.dib-box {
    text-align: center;
}

.dib {
    height: 800px;
    width: 22%;
    background-color:papayawhip;
    border: #ebebeb solid 5px;
    text-align: center;
    color: blue;
}

.button {
    height: 40px;
    width: 100px;
}

.block {
    background-color: gray;
    height: 90px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.ta {
    margin: auto;
    margin-top:1px;
    width: 90%;
    height: 65%;
}

.lb {
    float: left;
    height: 18px;
    width: 20%;
    margin-left:5px;
}

.rb {
    float: right;
    height: 18px;
    width: 20%;
    margin-right: 5px;
}

.bu {
    float: left;
    height: 18px;
    width: 20%;
    margin-left: 5px;
}
.fi {
     float: left;
     height: 18px;
     width: 20%;
     margin-left: 5px;
 }
