html{overflow-y:hidden;-ms-overflow-y:hidden;}

div.Canvas {position:relative; width:100%; background:none transparent scroll repeat 0% 0%; height:72%; overflow:hidden; background-size: cover; bottom:0px; left:0px; z-index:888;}
div.Canvas .canvasBg{z-index:10;  width:100%; height:100%; overflow:hidden;position:absolute; top:0px; left:0px;}
div.Canvas .canvasBg img{position:absolute; TOP: 0px; LEFT: 0px;}

div.Canvas .next{ cursor:pointer; position:absolute; top:0px; right:0px; z-index:1280; display:block; height:100%; width:49.9%;background:url(../images/blank.png) no-repeat;}
div.Canvas .next img{ top:41.9%; right:3%; position:absolute; display:none;}
div.Canvas .previous{cursor:pointer; position:absolute; top:0px; left:0px; display:block;height:100%; width:49.9%;z-index:1280;background:url(../images/blank.png) no-repeat;}
div.Canvas .previous img{ top:41.9%; left:3%;position:absolute;display:none;}

div.Canvas .ToolICO{width:188px;/*width:238px;*/ height:25px;  position:absolute; bottom:25px; right:33px; z-index:128;}
div.Canvas .ToolICO a{position:absolute; width:34px; height:34px;border-radius:26px; top:0px;}
div.Canvas .ToolICO a em{ display:block;width:20px; height:20px;border-radius:20px;position:absolute; top:7px; left:7px; transition: all 0.2s ease-in-out 0.1s; -moz-transition:all 0.2s ease-in-out 0.1s; -webkit-transition:all 0.2s ease-in-out 0.1s; -o-transition:all 0.2s ease-in-out 0.1s;}
div.Canvas .ToolICO a img{ position:absolute;top:50%; left:50%; margin-top:-13px; margin-left:-13px; width:26px; height:26px;transition: all 0.2s ease-in-out 0.1s; -moz-transition:all 0.2s ease-in-out 0.1s; -webkit-transition:all 0.2s ease-in-out 0.1s; -o-transition:all 0.2s ease-in-out 0.1s; }
div.Canvas .ToolICO a:hover img.ImgHover,div.Canvas .ToolICO a.on img.ImgHover{-moz-opacity:0;opacity:0;filter: alpha(opacity=0);-webkit-opacity:0;}
div.Canvas .ToolICO a:hover em,div.Canvas .ToolICO a.on em{background:rgba(255,255,255,0.5);width:34px; height:34px;border-radius:26px; top:0px; left:0px;}
div.Canvas .ToolICO a.BtnOne{left:0px;}
div.Canvas .ToolICO a.BtnTwo{left:39px;}
div.Canvas .ToolICO a.BtnThree{left:78px;}
div.Canvas .ToolICO a.BtnFour{left:117px;}
div.Canvas .ToolICO a.BtnFive{left:156px;}
div.Canvas .ToolICO a.BtnSix{left:195px;}
div.Canvas .Txtindex01{ position:absolute; width:144px; height:189px; top:50%; margin-top:-95px; left:18%; margin-left:-13px;}
div.Canvas .Txtindex02{ position:absolute; width:144px; height:201px; top:50%; margin-top:-100px; left:18%; margin-left:-13px;}
div.Canvas .Txtindex03{ position:absolute; width:144px; height:177px; top:50%; margin-top:-89px; left:18%; margin-left:-13px;}
div.Canvas .Txtindex04{ position:absolute; width:144px; height:177px;top:45%;  margin-top:-89px; right:18%; margin-left:-13px;}