div#TopHidden{ width:100%; height:9%; min-height:24px; border-top:2px solid #53544f;background:#FFF;position:relative;}
div#BottomHidden{ width:100%; min-height:58px; height:auto;position:relative; border-bottom:1px solid #fff}

div.VideoBase{ width:100%; min-width:1200px; height:315px;min-height:315px; zoom:1; position:relative; float:left; z-index:999999999;}



div.ContentBase{}
div.ContentBase .NavHead{ width:100%; position:relative; height:103px; border-bottom:1px solid #a58953;}
div.ContentBase .NavHead .NavMenu{ position:absolute; top:0px; left:0px; width:386px; height:83px;}
div.ContentBase .NavHead li{ float:left; width:64px; height:82px; border-right:1px solid #62635f;}
div.ContentBase .NavHead li.last{border-right:1px solid #fff;}
div.ContentBase .NavHead li a{ display:block;width:64px; height:82px; position:relative;}
div.ContentBase .NewsHead{ height:118px;}
div.ContentBase .NewsHead .NavMenu{height:102px;}
div.ContentBase .NewsHead li{height:102px;}
div.ContentBase .NewsHead li a{height:102px;}

div.ContentBase .NavHead li a img{ position:absolute; bottom:0px; left:50%; margin-left:-8px; width:15px; height:auto;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .NavHead li a.on img.ImageHover,div.ContentBase .NavHead li a:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}
div.ContentBase .NavPath{ color:#acacab; width:200px; text-align:right; background:url(../images/xiaoyuan.jpg) right center  no-repeat; height:24px; line-height:24px; padding-right:20px; position:absolute; bottom:0px; right:0px;}
div.ContentBase .Main{ width:100%; height:auto; margin-top:52px; position:relative;}
div.ContentBase .Main .ImgTitle{ height:21px; width:100%; position:relative;}
div.ContentBase .ImgTitle .ShowH{ width:108px; height:31px; position:absolute; right:0px; top:-5px; cursor:pointer;}
div.ContentBase .ImgTitle .ShowH img{ position:absolute; top:0px; left:0px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .ImgTitle .ShowH:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}
div.ContentBase .ImgTitle .HideH{width:108px; height:31px;position:absolute; right:0px;top:-5px; display:none;cursor:pointer;}
div.ContentBase .ImgTitle .HideH img{position:absolute; top:0px; left:0px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .ImgTitle .HideH:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}
div.ContentBase .Main .DIVContent{width:100%; height:auto; margin-top:36px; line-height:24px;}
div.ContentBase .Main .DIVContent p{width:100%;height:auto; line-height:24px; color:#62635f;}
div.ContentBase .Main .DIVContentEN {width:100%; height:auto; margin-top:36px; line-height:18px; font-size:10px;font-family:Tahoma,"微软雅黑","宋体";color:#acacab;}
div.ContentBase .Main .DIVContentEN p{width:100%;height:auto; line-height:18px;}
div.ContentBase .Main .TXTBottom{ width:100%; height:97px; position:relative; border-top:1px solid #c5c5c3}
div.ContentBase .Main .TXTBottom img.TIT{ position:absolute; bottom:6px; left:0px;}
div.ContentBase .Main .TXTBottom a{ display:block; width:254px; height:40px; position:absolute; right:0px; bottom:0px;}
div.ContentBase .Main .TXTBottom a img{position:absolute; top:0px; left:0px; width:254px; height:40px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear; }
div.ContentBase .Main .TXTBottom a:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}

div.ContentBase .Main .NewListItem{ height:auto; width:100%; margin-top:30px; border-bottom:1px solid #e4e3e3}
div.ContentBase .NewListItem div.Date{ height:24px;width:100%; text-align:left;}
div.ContentBase .Main h2{ font-size:16px; color:#303030; height:43px; width:100%;}
div.ContentBase .NewListItem div.NLBoby{width:100%;  height:auto;  position:relative;}
div.ContentBase .NewListItem div.NLImage{ width:34%; height:auto; margin-bottom:26px;  position:relative;}
div.ContentBase .NewListItem div.NLImage img{ width:100%; height:auto;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div.ContentBase .NewListItem div.NLImage img:hover{-moz-opacity:.75;opacity:.75;-webkit-opacity:.75;filter: alpha(opacity=75);}
div.ContentBase .NewListItem div.NLContent{ width:62%; line-height:22px; height:auto;  position:absolute; top:0px; right:0px;}

div.ContentBase .HistoryLine{ height:100px; width:100%; position:relative; background:url(../images/hlineback.gif) center left repeat-x; margin-top:102px; margin-bottom:138px;}
div.ContentBase .HistoryAuto{width:90%;height:98px; min-width:518px; position:absolute; top:0px; left:1.1%;}
div.ContentBase .HistoryAuto div{ position:absolute; width:451px; height:98px; right:0px; top:0px; }
div.ContentBase .HistoryAuto div img{position:absolute;}
div.ContentBase .HistoryLine .HStar{position:absolute; top:32px; left:0px;}
div.ContentBase .HistoryLine .H2003{top:0px; left:0px;}
div.ContentBase .HistoryLine .H2004{bottom:0px; left:70px;}
div.ContentBase .HistoryLine .H2005{top:0px; left:137px;}
div.ContentBase .HistoryLine .H2009{bottom:0px; right:175px;}
div.ContentBase .HistoryLine .H2011{top:0px; right:89px;}
div.ContentBase .HistoryLine .H2013{bottom:0px; right:0px;}

div.ContentBase .HistoryList{ width:100%; height:auto; position:relative; min-height:103px;}
div.ContentBase .HistoryList img.Years{ position:absolute; top:0px; left:0px;}
div.ContentBase .HistoryList .OpenBtn{position:absolute; top:34px; left:187px; width:94px; height:31px; cursor:pointer;}
div.ContentBase .HistoryList .CloseBtn{position:absolute; bottom:12px; right:0px; width:94px; height:31px; cursor:pointer;}
div.ContentBase .HistoryList .OpenBtn img,div.ContentBase .HistoryList .CloseBtn img{ position:absolute; top:0px; left:0px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .HistoryList .OpenBtn:hover img.ImageHover,div.ContentBase .HistoryList .CloseBtn:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}

div.ContentBase .HistoryList .HLine{width:100%; height:59px;border-bottom:1px solid #c5c5c3; position:absolute; bottom:30px; left:0px; display:none;}
div.ContentBase .HistoryList .HContent{width:75%; overflow:hidden; height:1px;position:absolute; top:0px; right:0px;}
div.ContentBase .HistoryList .Content{line-height:24px; width:100%; height:auto; position:relative;}

div.ContentBase .TXTContent{ width:100%; height:1px; position:relative; overflow:hidden;}
div.ContentBase .TXTContent li{ width:100%; height:44px; border-bottom:1px solid #e4e3e3;}
div.ContentBase .TXTContent li.first{border-top:1px solid #c5c5c3;margin-top:66px;}
div.ContentBase .TXTContent li a{ display:block; width:100%; height:44px; background:url(../images/see.gif) center left no-repeat; line-height:44px; position:relative;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .TXTContent li a:hover{ color:#acacab;  background:#f3f3f3 url(../images/see.gif) center left no-repeat;}
div.ContentBase .TXTContent li a span{ float:left; margin-left:45px;}
div.ContentBase .TXTContent li a em{ float:right;}
div.ContentBase .TXTContent li em img{ position:relative; top:4px;}

.tp-grid {
	list-style-type: none;
	position: relative;
	width:100%;
	display: block;
	margin-top:60px;
}

.tp-grid li {
	position: absolute;	
	width:252px;
	height:198px;
	overflow: hidden;
	display: none;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tp-grid li a.title{ width:100%; overflow:hidden; line-height:24px; height:24px; margin-top:12px;}
.no-js .tp-grid li {
	position: relative;
	display: inline-block;
}
.tp-grid li .Date{ color:#acacab; padding-left:10px;}
.tp-grid li a {display:block;outline:none;}
.tp-grid li img {display:block;border:none;}

.tp-grid2 {list-style-type: none;position: relative;width:100%;display: block;margin-top:50px;}
.tp-grid2 li{position: absolute;width:250px;height:195px;border:1px solid #efeded;	overflow: hidden;display: none;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-o-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
.tp-grid2 li div{ width:218px; height:150px; margin:23px auto; position:relative;}
div.JobBase h3{ font-size:12px; line-height:12px; color:#30312b;}
div.JobBase p.Datetime{ color:#61696c; border-bottom:1px solid #b7b7b7; }
div.JobBase p{ color:#62635f;line-height:22px;}
div.JobBase p.Number{ margin-top:9px;}
.tp-grid2 li:hover{border:1px solid #d8d9d7;}
.no-js .tp-grid2 li {position: relative;display: inline-block;}
.tp-grid2 li .Date{ color:#acacab; padding-left:10px;}
.tp-grid2 li a{display: block;outline: none; margin-top:25px; color:#30312b;}
.tp-grid2 li a:hover{color:#9c7a54;}

div.JobContentBase{ position: relative;width:100%; height:auto; margin-top:46px;line-height:24px; color:#62635f;}
#JobTitle{ height:auto; line-height:16px;color:#30312b;}
div.JobContentBase p.DateTime{ color:#61696c;line-height:25px; }
div.JobContentBase p.Number{ margin-top:26px;}
div.JobContentBase .JobContent{ margin-top:32px; width:100%; height:auto; padding-bottom:50px; border-bottom:1px solid #b7b7b7;}

a#AGoBack{ position:relative; width:133px; height:35px; display:block; margin-top:30px; float:right;}
a#AGoBack img{position:absolute; top:0px; left:0px;transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}
a#AGoBack:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}


div.ContentBase .ContactHidden{ height:68px; width:100%;}
div.ContentBase .ContactList{ height:156px; width:100%; position:relative; margin-bottom:20px; border-bottom:1px solid #e4e3e3;}
div.ContentBase .ContactList .title{  height:100%; width:28.8%; min-width:196px; position:absolute; top:0px; left:0px; }
div.ContentBase .ContactList .title h2{ font-size:14px; height:36px;}
div.ContentBase .ContactList .CImg{ width:186px; height:98px;border:1px solid #e4e3e3;}
div.ContentBase .ContactList .CImg img{border:6px solid #FFF;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div.ContentBase .ContactList .CImg img:hover{-moz-opacity:.75;opacity:.75;-webkit-opacity:.75;filter: alpha(opacity=75);}
div.ContentBase .ContactList .content{height:auto; /*width:63.17%;float:right;*/width:62%; float:left; margin-left:237px; display:inline; margin-top:36px;}
div.ContentBase .ContactList .content .Address{ width:90%; height:auto; line-height:18px; background:url(../images/icoaddress.gif) top left no-repeat; padding-left:9%;}
div.ContentBase .ContactList .content .Address a{ margin-top:10px; display:block;}
div.ContentBase .ContactList .content .Tel{width:90%; height:auto; line-height:18px; background:url(../images/icotel.gif) top left no-repeat; padding-left:9%; margin-top:15px;}

div.ContentBase .SInfo{ width:100%; height:70px; margin-top:90px; border-bottom:1px solid #e4e3e3; background:url(../images/icoinfo.gif) top left no-repeat; }
div.ContentBase .SInfo2{margin-top:80px;}
div.ContentBase .SInfo p{ float:left; margin-left:46px; width:496px; height:auto;}
div.ContentBase .SInfo .STel{ margin-top:9px;}
div.ContentBase .SInfo .STel2{ margin-top:0px;}
div.ContentBase .SInfo .STel span{ color:#a58953; text-decoration:underline;}
div.ContentBase .ShopBase{ position:relative; width:100%; height:auto; margin-top:39px; position:relative;}
div.ContentBase .ShopBase .FormTitle{ width:50%; height:26px; margin-top:16px; float:left; }
div.ContentBase .ShopBase .ProNames{ width:100%; height:32px;  position:relative;}
div.ContentBase .ShopBase .BtnPlus{ width:36px; height:32px; position:absolute; top:0px; right:0px; cursor:pointer;}
div.ContentBase .ShopBase .BtnPlus img{ position:absolute; top:0px; left:0px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .ShopBase .BtnPlus:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}
div.ContentBase .ShopBase .txt{outline:0px; -webkit-appearance:none;color:#62635f; width:99%; line-height:28px;height:28px; border:1px solid #dddddc;}
div.ContentBase .ShopBase .txt1{ margin-top:10px; display:none;}
div.ContentBase .ShopBase .InputRow{ width:100%; height:32px; position:relative;}
div.ContentBase .ShopBase .text1{outline:0px; line-height:28px; -webkit-appearance:none; color:#62635f; width:50%; height:28px; border:1px solid #dddddc; position:absolute; top:0px; left:0px;}
div.ContentBase .ShopBase .text2{outline:0px;line-height:28px; -webkit-appearance:none; color:#62635f; width:50%; height:28px; border:1px solid #dddddc; position:absolute; top:0px; right:0px;}
div.ContentBase .ShopBase textarea{outline:0px;color:#62635f; -webkit-appearance:none; width:100%; height:245px;border:1px solid #dddddc;}
div.ContentBase .ShopBase .SubBtn{ width:165px;margin-top:36px;height:46px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear; background:url(../images/btnsubmita.gif) no-repeat; cursor:pointer; border:none;}
div.ContentBase .ShopBase .SubBtn:hover{background:url(../images/btnsubmitb.gif) no-repeat;}
div.ContentBase .ShopBase .ResetBtn{width:165px;margin-left:26px;margin-top:36px;height:46px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear; background:url(../images/btnreseta.gif) no-repeat; cursor:pointer; border:none;}
div.ContentBase .ShopBase .ResetBtn:hover{background:url(../images/btnresetb.gif) no-repeat;}

div.ContentBase .PaperList{ width:100%; height:auto;margin-top:46px;border-bottom:1px solid #e4e3e3;position:relative;}
div.ContentBase .PaperList .PaperImage{ width:28.8%;height:auto;position:absolute; top:0px; left:0px;}
div.ContentBase .PaperList .PaperImage img{width:100%; min-width:176px; height:auto;border:1px solid #e4e3e3;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div.ContentBase .PaperList .PaperImage img:hover{-moz-opacity:.75;opacity:.75;-webkit-opacity:.75;filter: alpha(opacity=75);}
div.ContentBase .PaperList .PaperInfo{width:65%; /*line-height:22px;*/ height:auto; float:right;margin-bottom:55px;}
div.ContentBase .PaperList .PaperInfo a{ font-size:14px; margin-bottom:15px; display:block;}
div.ContentBase .PaperList .Info{ line-height:20px;}
div.ContentBase .PaperList .PaperJump{ position:relative; width:254px; height:40px; cursor:pointer; margin-top:36px;}
div.ContentBase .PaperList .PaperJump img{position:absolute; top:0px; left:0px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear;}
div.ContentBase .PaperList .PaperJump:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}

div.ContentBase .SearchBase{ width:100%; min-height:528px; height:auto; position:relative;}
div.ContentBase .SearchDIV{ width:100%; height:438px;  position:absolute; top:83px; left:0px;}
div.ContentBase .SearchDIV .Notice{ width:100%; height:113px;border-bottom:1px solid #e4e3e3; position:relative;}
div.ContentBase .SearchDIV .NContent{ width:320px; height:auto; position:absolute; top:0px; left:128px; line-height:24px;}
div.ContentBase .SearchDIV .NContent span{color:#a58953; text-decoration:underline;}

div.ContentBase .SearchForm{ width:100%; height:175px;border-bottom:1px solid #e4e3e3; margin-top:43px;}
div.ContentBase .SearchForm .TitleRow{ width:100%; height:26px; margin-top:14px;}
div.ContentBase .SearchForm .InputRow{ width:100%; height:32px; position:relative;}
div.ContentBase .SearchForm .InputRow input{outline:0px;line-height:28px;color:#62635f; -webkit-appearance:none; width:51.38%; height:28px; border:1px solid #dddddc;}
div.ContentBase .SearchForm .InputRow div{ position:absolute; top:8px; left:15px; width:128px; color:#62635f; font-size:14px; }
input#DoSearchPost{width:165px;margin-top:45px;height:46px;transition: all 0.2s linear; -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear; background:url(../images/searcha.gif) no-repeat; cursor:pointer; border:none;}
input#DoSearchPost:hover{background:url(../images/searchb.gif) no-repeat;}

div.ContentBase .ResultDIV{height:auto; width:100%; position:absolute; top:72px; left:0px; display:none;}
div.ContentBase .ResultDIV .ResultInfo{ height:338px; width:100%;border-bottom:1px solid #e4e3e3; border-top:1px solid #e4e3e3;}
div.ContentBase .ResultDIV a{ display:block; width:165px; height:46px; position:relative; margin-top:28px;}
div.ContentBase .ResultDIV a img{position:absolute; top:0px; left:0px;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div.ContentBase .ResultDIV a:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}
div.ContentBase .ResultDIV img.logo{ margin-top:52px;}
div.ContentBase .ResultDIV .Prompt{ width:446px; margin-top:62px; height:69px;border:1px solid #e4e3e3; position:relative; display:none;}
div.ContentBase .ResultDIV .Prompt .Words{position:absolute; top:30px; left:16px;}
div.ContentBase .ResultDIV .Prompt .ICO{ position:absolute;top:25px; right:-41px;}

div#AddressZoom img.AddImage{ width:640px; height:380px; margin-top:16px; margin-left:14px; margin-bottom:14px;}
div#AddressZoom .AddBase{width:640px; height:auto; margin:0px auto;}
div#AddressZoom .AddBase h2{ font-size:14px; line-height:40px; height:40px; color:#303030;}
div#AddressZoom .AddInfo{border-top:1px dotted #cacaca; padding-bottom:16px; padding-top:16px;}
div#AddressZoom .AddInfo p{width:546px; height:auto; line-height:18px; background:url(../images/icoaddress.gif) top left no-repeat; padding-left:50px;}
div#AddressZoom .AddInfo div{width:546px; height:auto; line-height:18px; background:url(../images/icotel.gif) top left no-repeat; padding-left:50px; margin-top:8px;}
div#AddressZoom .CloseAZ{position:absolute; bottom:17px; right:17px; cursor:pointer; width:35px; height:35px;}
div#AddressZoom .CloseAZ img{position:absolute; top:0px; left:0px;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div#AddressZoom .CloseAZ:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}
div#GmapZoom .CloseGZ{position:absolute; top:0px; right:-36px; cursor:pointer; width:35px; height:35px;}
div#GmapZoom .CloseGZ img{position:absolute; top:0px; left:0px;transition: all 0.28s linear; -moz-transition:all 0.28s linear; -webkit-transition:all 0.28s linear; -o-transition:all 0.28s linear;}
div#GmapZoom .CloseGZ:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}
div#Gmap{width:640px; height:380px; margin-top:16px; margin-left:14px; margin-bottom:14px;}