html,body{ min-height:100%; position:relative; min-width:1000px;}

/*HotNews*/
div.HotNews{ height:0px; width:83.8%;margin:0px auto;min-width:960px; position:relative;border-bottom:1px solid #ddd;display:none;}

div.HotNews .FrontNews_list01-d3_c2{ width:63.5%; height:120px;min-width:908px;position:absolute;top:40px;left:0px;}

div.HotNews .newslist-01{ width:410px; height:120px;position:relative;position:absolute;top:0px;left:0px;}
div.HotNews .newslist-01 .pic{ width:200px; height:120px;position:relative;border:1px solid #d3d3d3;}
div.HotNews .newslist-01 .pic img{ position:absolute; top:4px; left:4px; width:192px; height:112px;}

div.HotNews .newslist-01 .newslist{ position:absolute; top:70px; left:215px;}
div.HotNews .newslist-01 .newslist h3{ display:none;}
div.HotNews .newslist-01 .title{ position:absolute; top:25px; left:215px;}
div.HotNews .newslist-01 .title a{ font-weight:bold;}
div.HotNews .newslist-01 .date{ position:absolute; top:0; left:215px; font-weight:bold;}
div.HotNews .newslist-01 .date span{ display:none;}


div.HotNews .newslist-02{ width:470px; position:absolute; top:-6px; left:445px;}
div.HotNews .newslist-02 .content{ height:24px; line-height:24px; overflow:hidden; float:left; display:inline; width:470px;}

div.HotNews .newslist-02 .content .title{ width:60%; height:24px; float:left; display:inline; overflow:hidden;}
div.HotNews .newslist-02 .content .title h3{ display:inline;}
div.HotNews .newslist-02 .content .title h3 a{ height:24px; line-height:24px; }
div.HotNews .newslist-02 .content .date{ width:35%; height:24px; float:right; display:inline; font-size:10px; font-style:italic; color:#999;}
div.HotNews .newslist-02 .content .date span{ display:none;}
div.HotNews .newslist-02 li.clearBoth{ display:none;}


div.HotNews a.ANewsJump{ width:142px; height:33px; position:absolute; bottom:40px; left:445px; display:none;}
div.HotNews a.ANewsJump img{ position:absolute; top:0px; left:0px;transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}
div.HotNews a.ANewsJump:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}  


div.HotNews .close{ position:absolute; right:0px; top:40px; width:35px; height:35px;display:none;}
div.HotNews .close img{ position:absolute; top:0px; left:0px;width:35px; height:35px;transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}
div.HotNews .close:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0; }



div.pageWidth{ height:100%; width:83.8%; margin:0px auto; min-width:1000px; position:relative; }


/*header*/
div.header{ width:100%; height:106px; min-height:106px;  position:relative; z-index:999;}

div.header_con{ position:absolute; top:50%; left:0px; width:100%; height:106px; margin-top:-53px;}


div.header .header a.Alogo{ display:block; width:104px; height:76px; margin-top:3px;}


/*menu*/
div.header .header_con .menu ul{ width:540px; height:50px;}
div.header .header_con .menu li{ float:left; width:90px; height:50px; position:relative;}
div.header .header_con .menu li img{ position:absolute; top:0px; left:0px;}
div.header .header_con .menu li img.ImageHover{transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}

div.header .header_con .menu li img.MenuICO{transition: all .5s ease-in-out 0.1s; -moz-transition:all .5s ease-in-out 0.1s; -webkit-transition:all .5s ease-in-out 0.1s; -o-transition:all .5s ease-in-out 0.1s;}
div.header .header_con .menu li a{ display:block;width:90px; height:50px;position:relative;}
div.header .header_con .menu li a:hover img.ImageHover,div.header .header_con .menu li a.current img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}

div.header .header_con .menu li img.MenuICO{-moz-opacity:0;opacity:0;filter: alpha(opacity=0);-webkit-opacity:0; top:43px; left:50%; width:90px; height:9px; margin-left:-45px;}
div.header .header_con .menu li a:hover img.MenuICO,div.header .header_con .menu li a.current img.MenuICO{-moz-opacity:1;opacity:1;filter: alpha(opacity=100);-webkit-opacity:1;}

#index div.header .header_con .menu li img.MenuICO{ top:40px;}




/*MenuTool*/
div.header .MenuTool{ width:300px; height:45px; position:absolute; right:0px; top:0px; border-bottom:1px solid #eee; background:url(../images/line_1.jpg) no-repeat 40px top;}

div.header .MenuTool a{display:block; position:absolute;top:0px;}

div.header .MenuTool a img{ position:absolute; top:0px; left:0px;}
div.header .MenuTool img.ImageHover{transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}
div.header .MenuTool a:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;}

div.header .MenuTool a.WeiboBtn{ width:30px; height:30px; }
div.header .MenuTool a.ColumnBtn{ width:50px; height:30px;}
div.header .MenuTool a.HotBtn{ width:82px; height:40px;}


a#q1{ left:0px; top:5px;}
a#Sina{ left:40px; top:5px;}
a#QQ{ right:190px; top:5px;}
a#zheng{right:105px; top:5px;}
a#HotBtn{ right:0px;}

.text-lazyload{display:none;}



/*footer*/
div.footer{ width:100%; height:15%; min-height:50px; position:relative; z-index:999;}
div.footer .foot_content{ width:100%; height:50px; line-height:60px; color:#999; font-size:12px; margin-top:5px;}


div.Footer .FootL{ width:50%; float:left;}
div.Footer .FootR{width:50%; float:left; text-align:right;}
div.Footer .FootR a{color:#afafaf;}
div.Footer .FootR a:hover{color:#717273;}


div#anpNews{ width:100%; height:35px; line-height:35px;margin-top:30px; text-align:center; position:relative; color:#303030;}
div#anpNews a{ float:left;width:28px; height:35px; display:block; line-height:35px;text-align:center}
div#anpNews a:hover{color:#F00;}

div#anpNews .cpd{color:#F00; width:28px; height:35px;  float:left; display:block;line-height:35px;text-align:center}
div#anpNews .PNBC{width:120px; height:35px; display:block; position:relative; } 
div#anpNews .PNBC img{position:absolute; top:0px; left:0px;}
div#anpNews .PNBC img.ImageHover{transition: all .2s linear; -moz-transition:all .2s linear; -webkit-transition:all .2s linear; -o-transition:all .2s linear;}
div#anpNews a.PNBC:hover img.ImageHover{-moz-opacity:0;opacity:0;-webkit-opacity:0;filter: alpha(opacity=0);}
div#anpNews div{ width:auto; height:35px; position:absolute; top:0px; right:0px;}
div#anpNews div.CustomInfo{ /*width:138px;*/ right:inherit; left:0px;}
